*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* navbar */
nav {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: rgb(223, 121, 95);

}

nav ul {
    list-style-type: none;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
}

nav li {
    padding: 1.2rem;
}

nav li a {
    color: rgb(241, 229, 229);
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
}
 a:hover{
    color: blue;
    cursor: pointer;
    
}

.logout {
    padding: 0.5rem 1.2rem;
    position: absolute;
    right: 1rem;
    top: 1rem;
    border-radius: 5px;
    background-color: rgb(230, 141, 141);
    border: none;
    cursor: pointer;

}
.user {
    font-size: 20px;
    font-weight: bold;
}

/* register login */

.registration-form {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.form div {
    margin-bottom: 15px;
}

.form div>input {
    display: block;
    padding: 0.3rem;
    border-radius: 5px;
    border: 5px slateblue solid;
}

.form label {
font-weight: bold;
    
}
.form div>button {
    cursor: pointer;
    width: 100%;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    color: whitesmoke;
    font-weight: bold;
    background-color: blue;

}
.form div>button:hover{
    background-color: green;
}
.error-msg{
    color: red;
    font-weight: bold;
}
/* cart */
.cart-title {
text-align: center;
margin-top: 2rem;
}
.table-container {
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

td{
    width: 8rem;
    padding: 0.5rem;
    text-align: center;
}
.cart-img-box{
    padding: 0.5rem;
}
.cart-img {
    height: 6rem;
    width: 100%;
}
.empty-cart {
    padding: 2rem;
   
}
.empty-cart p{
    font-weight: bold;
    color: red;
}

/* shop */
.no-products {
    font-size: 30px;
    position: absolute;
    left: 35%;
    top: 30%;
    color: red;
}
.shop-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.shop-title{
    text-align: center;
    margin-top: 0.5rem;
    font-size: 40px;
}
.shop-img-box {
    padding: 2rem;
    justify-content: center;
    align-items: center;
}
.shop-img-box img {
    max-width: 20rem;
    height: fit-content;
}
.shop-img-box p {
    text-align: center;
}
.shop-img-box a {
    font-weight: bold;
    text-decoration: none;
    font-size: 20px;
}

/* shop single product */

.product-container {
    padding: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.product-container h2 {
    padding: 0.5rem;
    text-align: center;
}
.product-container p {
    margin: 0.5rem;
    padding: 0.5rem;
}
.product-container a {
    margin-left: 2rem;
    text-decoration: none;
    font-weight: bold;
    font-size: 25px;
    cursor: pointer;
    color: green;
}
.product-img img{
    width: 50rem;
}